body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.content {
  border: 3px solid #007acc;   /* рамка */
  border-radius: 10px;         /* скруглённые углы */
  padding: 20px;               /* отступы внутри рамки */
  margin: 40px;                /* отступы от края экрана */
  background-color: #fff;      /* белый фон */
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: #007acc;
  margin-top: 0;
}

h2 {
  color: darkgreen;
}

p {
  color: #333;
}
