body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: aquamarine;
  position: relative;
  padding: 50px 50px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  position: absolute;
  color: #333;
  top: 0;
  left: 0;

}

.menu-title {
  text-align: center;
  color: #007acc;
  text-transform: uppercase;
  margin: 70px 0 10px; /* сверху 50px, по бокам 0, снизу 20px */

}


.content {
  border: 3px solid #007acc;
  border-radius: 0px;
  padding: 40px;
  margin: 50px;
  background-color: rgba(35, 38, 36, 0.499);
  font-size: 16px;
  line-height: 1.6;      
  max-width: 1500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Заголовки по центру */
h1, h2 {
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  color: #007acc;
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h2 {
  color: darkgreen;
  padding-bottom: 3px;
}

p {
  color: #333;
  text-align: justify;
}

